.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index:100;
  border-bottom: 2px solid rgb(243, 243, 243);
}
.header__logo {
  object-fit: contain;
  width: 60px;
  border-radius: 200%;
}
.header__icon {
  padding: 10px;
}